body {
    background-color: #066734;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}

h1 {
    color: gold;
}

button {
    background-color: goldenrod;
    width: 180px;
    padding: 9px 0px;
    border: none;
    border-radius: 2px;
    margin-bottom: 10px;
}